
<section>
  <form method="post" enctype="multipart/form-data">
    <label>Customer Service Cases</label>
    <input type="file" name="customer-service-report">
    <br/>
    <input type="submit" name="merge-cs" value="Generate Customer Service Report">
  </form>
</section>
