<div class="span9 center">
<a href="/support" class="btn btn-large btn-danger btn-width btn-space"> Support Cases </a> 
<a href="/customer-service" class="btn btn-large btn-danger btn-width btn-space"> Customer Service Cases </a>
</div>
