
<section>
  <form method="post" enctype="multipart/form-data">
    <h2 class="text-center">Support Cases</h2>
    <input type="file" name="support-report">
    <br/>
    <input type="submit" name="merge-support" value="Generate Support Report">
  </form>
</section>
