
<section>
  <form method="post" enctype="multipart/form-data">
    <label>Support Cases</label>
    <input type="file" name="support-report">
    <br/>
    <input type="submit" name="merge-support" value="Generate Support Report">
  </form>
</section>
